<!DOCTYPE html>
<html lang="zh-CN" style="overflow-y: visible;">
  <head>
    <title>Microsoft Multimedia Challenge</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/js/google-code-prettify/prettify.css">
    <script src="/static/js/google-code-prettify/run_prettify.js"></script>
    <script src="/static/js/sprintf.js"></script>
    <style type="text/css">
      .introduction {
        font-size: 20px;
      }

    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        var nowpage = "";
        var nowtitle = "";
        var nowmemberid = 0;
        var teamname;
        var member;
        $.getJSON("/api/getinfo",function(data,status){
          if(data.res=="00000") {
            var addhtml='<div style="float:right">\
                      <p style="font-size:16px;"><b>Welcome   %s</b></p>\
                      <p>%s</p>\
                      <button class="btn btn-default" id="logout" style="float:right">Logout</button>\
                      <div style="float:right">&nbsp;&nbsp;</div>\
                      <div class="dropdown" style="float:right" >\
                      <button id="submit-menu" class="btn btn-primary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Submit<span class="caret"></span></button>\
                      <ul class="dropdown-menu" aria-labelledby="submit-menu">\
                      <li><a id="submit" style="cursor:pointer;">%s</a></li>\
                      <li><a id="submit_report" style="cursor:pointer;"import>%s</a></li>\
                      </ul>\
                      </div>\
                      <div style="float:right">&nbsp;&nbsp;</div>\
                      <button class="btn btn-info" id="update" style="float:right">Update</button>\
                    </div>';
            var info=data.info;
            teamname=info.teamname;
            member=info.member;
            var length=member.length;
            var namelist=member[0].name;
            for (var i=1;i<length;i++) {
              namelist = namelist + " " + member[i].name
            }
            var hasSubmit=info.hasSubmit;
            var hasSubmitReport=info.hasSubmitReport;
            var submitText = "";
            var submitReportText = "";
            if (hasSubmit == false) {
              submitText = "Submit Result";
            }
            else {
              submitText = "Resubmit Result";
            }
            if (hasSubmitReport == false){
              submitReportText = "Submit Report";
            }
            else {
              submitReportText = "Resubmit Report";
            }
            $("#video-head").append(sprintf(addhtml, teamname, namelist, submitText, submitReportText));
          }
          else {
            var addhtml='<button class="btn btn-primary" id="video_register" style="float:right;">Register</button><div style="float:right">&nbsp;&nbsp;</div><button class="btn btn-success" id="video_login" style="float:right;">Login</button>\
                    ';
            $("#video-head").append(addhtml);
          }
        });

        $(document).on("click", "#video_login", function(){
          nowpage = "video";
          nowtitle = "Video to Language Challenge Login";
          $("#login_title").text(nowtitle);
          $(".login-main").show();
          $(".login-forget").hide();
          $("#login").modal("show");
        });;
        $(document).on("click", "#login_button", function(){
          var flag = true;
          var username=$("#login-username").val();
          if(username == "") {
            var parent = $("#login-username").parent();
            var addhtml = '<span class="help-block">User name can not be empty</span>';
            parent.append(addhtml);
            parent.addClass("has-error");
            flag = false;
          }

          var password=$("#login-password").val();
          if(password == "") {
            var parent = $("#login-password").parent();
            var addhtml = '<span class="help-block">Password can not be empty</span>';
            parent.append(addhtml);
            parent.addClass("has-error");
            flag = false;
          }

          if(flag==false){
            return;
          }
          var para={
            "challenge_type":nowpage,
            "username":username,
            "password":password
          }
          $.post("/api/login",para,function(data,status){
            if(data.res=="00000") {
              window.location.reload();
            }
            else if(data.res=="100001"){
              //
            }
            else if(data.res=="30001") {
              var addhtml = '<span class="help-block">Username or password error</span>';
              $("#login-username").parent().append(addhtml).addClass("has-error");
              $("#login-password").parent().append(addhtml).addClass("has-error");
            }
          });
        });
        $(document).on("focus","input",function(){
          
          $(".has-error").find("span").remove();
          $(".has-error").removeClass("has-error");
        });
        $(document).on("click", "#logout", function(){
          $.getJSON("/api/logout", function(data,status){
            if(data.res=="00000"){
              window.location.reload();
            }
          });
        });
        $(document).on("click", "#submit", function() {
          $("#submit-modal").modal("show");
        });

        $(document).on("click", "#submit_report", function() {
          $("#submit-modal").modal("show");
        });


        $(document).on("click", "#update", function(){
          nowpage = "video";
          $("#update-modal").modal("show");
          $("#update-teamname").val(teamname);
          $("#update-caption-name").val(member[0].name);
          $("#update-caption-email").val(member[0].email);
          $("#update-caption-organization").val(member[0].organization);
          var length = member.length;
          nowmemberid = 1;
          var addhtml = '<div class="form-group" id="update-member%d">\
                <label class="control-label">Member %d</label>\
                <div class="row">\
                  <div class="col-md-4">\
                    <input type="text" class="form-control" id="update-member%d_name" placeholder="name">\
                  </div>\
                  <div class="col-md-4">\
                    <input type="email" class="form-control" id="update-member%d_email" placeholder="email">\
                  </div>\
                  <div class="col-md-4">\
                    <input type="text" class="form-control" id="update-member%d_organization" placeholder="organization">\
                  </div>\
                </div>\
              </div>';
          while (nowmemberid < length) {
            $("#update-member").append(sprintf(addhtml, nowmemberid, nowmemberid, nowmemberid, nowmemberid, nowmemberid));
            $(sprintf("#update-member%d_name", nowmemberid)).val(member[nowmemberid].name);
            $(sprintf("#update-member%d_email", nowmemberid)).val(member[nowmemberid].email);
            $(sprintf("#update-member%d_organization", nowmemberid)).val(member[nowmemberid].organization);
            nowmemberid++;
          }
        });
        $(document).on("click", "#update-addmember", function(){
          var addhtml = '<div class="form-group" id="update-member%d">\
                <label class="control-label">Member %d</label>\
                <div class="row">\
                  <div class="col-md-4">\
                    <input type="text" class="form-control" id="update-member%d_name" placeholder="name">\
                  </div>\
                  <div class="col-md-4">\
                    <input type="email" class="form-control" id="update-member%d_email" placeholder="email">\
                  </div>\
                  <div class="col-md-4">\
                    <input type="text" class="form-control" id="update-member%d_organization" placeholder="organization">\
                  </div>\
                </div>\
              </div>';
          $("#update-member").append(sprintf(addhtml,nowmemberid,nowmemberid,nowmemberid,nowmemberid,nowmemberid));
          nowmemberid++;
        });
        $(document).on("click", "#update-deletemember", function(){
          if(nowmemberid==1)
            return;
          $(sprintf("#update-member%d",nowmemberid-1)).remove();
          nowmemberid--;
        });
        $(document).on("click", "#update_button", function(){
          $(".has-error").find("span").remove();
          $(".has-error").removeClass("has-error");
          var flag = true;

          var teamname = $("#update-teamname").val();
          if (teamname == "") {
            var parent = $("#update-teamname").parent();
            var addhtml = '<span class="help-block">Team name can not be empty</span>';
            parent.append(addhtml);
            parent.addClass("has-error");
            flag = false;
          }

          var caption_name = $("#update-caption-name").val();
          var caption_email = $("#update-caption-email").val();
          var caption_organization = $("#update-caption-organization").val();
          if(caption_name==""||caption_email==""||caption_organization=="") {
            var addhtml = '<span class="help-block">Please complete all the infomation</span>';
            $("#update-caption").append(addhtml).addClass("has-error");
            flag = false;
          }

          for(var i=1;i<nowmemberid;i++) {
            var member_name = $(sprintf("#update-member%d_name",i)).val();
            var member_email = $(sprintf("#update-member%d_email",i)).val();
            var member_organization = $(sprintf("#update-member%d_organization",i)).val();
            if(member_name==""||member_email==""||member_organization=="") {
              var addhtml = '<span class="help-block">Please complete all the infomation</span>';
              $(sprintf("#member%d",i)).append(addhtml).addClass("has-error");
              flag = false;
            }
          }
          if(flag==false)
            return;

          var para={
            "challenge_type":nowpage,
            "teamname":teamname,
            "caption_name":caption_name,
            "caption_email":caption_email,
            "caption_organization":caption_organization,
            "member_num":nowmemberid
          }
          for(var i=1;i<nowmemberid;i++){
            var member_name = $(sprintf("#update-member%d_name",i)).val();
            var member_email = $(sprintf("#update-member%d_email",i)).val();
            var member_organization = $(sprintf("#update-member%d_organization",i)).val();
            para[sprintf("member%d_name",i)]=member_name;
            para[sprintf("member%d_email",i)]=member_email;
            para[sprintf("member%d_organization",i)]=member_organization;
          }

          $(this).text("Updating...").addClass("disabled");
          $.post("/api/update",para,function(data,status){
            if(data.res=="00000"){
              alert("update success");
              window.location.reload();
            }
            else if(data.res=="10001"){
              //
            }
            else if(data.res=="20002"){
              var addhtml = '<span class="help-block">Team name is unavailable</span>';
              $("#update-teamname").parent().append(addhtml).addClass("has-error");
            }
            else if(data.res=="20003"){
              var place = data.place;
              if(place==0){
                var addhtml = '<span class="help-block">This member has been registered in another team</span>';
                $("#update-caption").append(addhtml).addClass("has-error");
              }
              else{
                var addhtml = '<span class="help-block">This member has been registered in another team</span>';
                $(sprintf("#update-member%d",data.place)).append(addhtml).addClass("has-error");               
              }
            }
            $("#update_button").text("Update ").removeClass("disabled");
          });
        });
        $(document).on("click", "#login-forget-btn", function(){
          $(".login-forget").show();
          $(".login-main").hide();
        });
        $(document).on("click", "#login-forget-send", function(){
          $(".has-error").find("span").remove();
          $(".has-error").removeClass("has-error");
          var flag = true;

          var team_name = $("#login-forget-teamname").val();
          if (team_name == "") {
            var parent = $("#login-forget-caption").parent();
            var addhtml = '<span class="help-block">Team name can not be empty</span>';
            parent.append(addhtml);
            parent.addClass("has-error");
            flag = false;
          }

          var caption_name = $("#login-forget-caption").val();
          if (caption_name == "") {
            var parent = $("#login-forget-caption").parent();
            var addhtml = '<span class="help-block">Cpation name can not be empty</span>';
            parent.append(addhtml);
            parent.addClass("has-error");
            flag = false;
          }

          var caption_email = $("#login-forget-caption-email").val();
          if (caption_email == "") {
            var parent = $("#login-forget-caption-email").parent();
            var addhtml = '<span class="help-block">Cpation email can not be empty</span>';
            parent.append(addhtml);
            parent.addClass("has-error");
            flag = false;
          }

          if (flag == false)
            return;

          var para = {
            "challenge_type":nowpage,
            "team_name":team_name,
            "caption_name":caption_name,
            "caption_email":caption_email
          }
          $.post("/api/changepassword", para, function(data, status){
            if (data.res=="00000") {
              alert(sprintf("We have sent an reset email to %s, please check it", caption_email))
              $("#login").modal('hide')
            }
            else if (data.res=="10001") {
              //
            }
            else if (data.res=="60001") {
              alert("Team Name does not match to Captain Information")
            }
          });

        });
      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <!-- <img src="http://mscoco.org/static/images/logo.jpg" height="155%"> -->
            Multimedia
          </a>
        </div>
<div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Home</a></li>
          <li><a href="/people">People</a></li>
          <li class="active"><a href="/challenge">Challenge</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
          <li><a href="/dataset">Dataset</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
</div>
    </nav>

    <div class="container">
        
      <div class="row">
        <div class="col-md-3">
          <br><br><br><br>
          <div class="list-group">
            <a href="#image" aria-controls="image" role="tab" data-toggle="tab" class="list-group-item disabled">
              Image Retrieval Challenge
            </a>
            <a href="#fine" aria-controls="fine" role="tab" data-toggle="tab" class="list-group-item disabled">
            Fine-grained Image Recognition Challenge
            </a>
            <a href="#video" aria-controls="video" role="tab" data-toggle="tab" class="list-group-item active">
            Video to Language Challenge
            </a>
            <a href="#qa" aria-controls="qa" role="tab" data-toggle="tab" class="list-group-item disabled">
            Multimedia Q&amp;A Challenge
            </a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="video">
                  <div id="video-head">
                    <h1 style="display: inline;">
                    Video to Language Challenge
                    </h1>
                    <!-- <div style="float:right">
                      <h5>Welcome   HAHA</h5>
                      <p>aaaa dddd dddd dddd dddd</p>
                      <p style="float:right"><a id="logout">Logout</a></p>
                    </div> -->
                    <!-- <button class="btn btn-primary" id="video_register" style="float:right;">Register</button> -->
                    <!-- <div style="float:right">&nbsp;&nbsp;</div> -->
                    <!-- <button class="btn btn-success" id="video_login" style="float:right;">Login</button> -->
                  </div>
                </div>
              <br>
              <br>
              <hr>

              <h3>Overview</h3>
              <br>
              <p>Video has become ubiquitous on the Internet, broadcasting channels, as well as personal devices. This has encouraged the development of advanced techniques to analyze the semantic video content for a wide variety of applications. Recognition of videos has been a fundamental challenge of computer vision for decades. Previous research has predominantly focused on recognizing videos with a predefined yet very limited set of individual words. In this grand challenge, we go a step further and target for translating video content to a complete and natural sentence. Given an input video clip, the goal is to automatically generate a complete and natural sentence to describe video content, ideally encapsulating its most informative dynamics. </p>
              <div class="row">
                <div class="col-md-4">
                  <img src="/static/img/image1.gif" width="100%" height="170px">
                  <span style="font-size:10px">1. A black and white horse runs around.</span><br>
                  <span style="font-size:10px">2. A horse galloping through an open field.</span><br>
                  <span style="font-size:10px">3. A horse is running around in green lush grass.</span><br>
                  <span style="font-size:10px">4. There is a horse running on the grassland.</span><br>
                  <span style="font-size:10px">5. A horse is riding in the grass.</span>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/image2.gif" width="100%" height="170px">
                  <span style="font-size:10px">1. A woman giving speech on news channel.</span><br>
                  <span style="font-size:10px">2. Hillary Clinton gives a speech.</span><br>
                  <span style="font-size:10px">3. Hillary Clinton is making a speech at the conference of mayors.</span><br>
                  <span style="font-size:10px">4. A woman is giving a speech on stage.</span><br>
                  <span style="font-size:10px">5. A lady speak some news on TV.</span>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/image3.gif" width="100%" height="170px">
                  <span style="font-size:10px">1. A child is cooking in the kitchen.</span><br>
                  <span style="font-size:10px">2. A girl is putting her finger into a plastic cup containing an egg.</span><br>
                  <span style="font-size:10px">3. Children boil water and get egg whites ready.</span><br>
                  <span style="font-size:10px">4. People make food in a kitchen.</span><br>
                  <span style="font-size:10px">5. A group of people are making food in a kitchen.</span>

                </div>
                <div class="col-md-4">
                  <img src="/static/img/image4.gif" width="100%" height="170px">
                  <span style="font-size:10px">1. A man and a woman performing a musical.</span><br>
                  <span style="font-size:10px">2. A teenage couple perform in an amateur musical.</span><br>
                  <span style="font-size:10px">3. Dancers are playing a routine.</span><br>
                  <span style="font-size:10px">4. People are dancing in a musical.</span><br>
                  <span style="font-size:10px">5. Some people are acting and singing for performance.</span>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/image5.gif" width="100%" height="170px">
                  <span style="font-size:10px">1. A white car is drifting.</span><br>
                  <span style="font-size:10px">2. Cars racing on a road surrounded by lots of people.</span><br>
                  <span style="font-size:10px">3. Cars are racing down a narrow road.</span><br>
                  <span style="font-size:10px">4. A race car races along a track.</span><br>
                  <span style="font-size:10px">5. A car is drifting in a fast speed.</span>
                </div>
                <div class="col-md-4">
                  <img src="/static/img/image6.gif" width="100%" height="170px">
                  <span style="font-size:10px">1. A player is putting the basketball into the post from distance.</span><br>
                  <span style="font-size:10px">2. The player makes a three-pointer.</span><br>
                  <span style="font-size:10px">3. People are playing basketball.</span><br>
                  <span style="font-size:10px">4. A 3 point shot by someone in a basketball race.</span><br>
                  <span style="font-size:10px">5. A basketball team is playing in front of speculators.</span>
                </div>
              </div>
              <br>
              <hr>

              <h3>Challenge</h3>
              <br>
              <p>To further motivate and challenge the academic and industrial research community, Microsoft will release Microsoft Research - Video to Text (MSR-VTT), a large-scale video benchmark to public for bridging video and language. The dataset contains 41.2 hours and 200K clip-sentence pairs in total, covering the most comprehensive categories and diverse visual content, and representing the largest dataset in terms of sentence and vocabulary. The dataset can be used to train and evaluate video to language tasks, and other tasks (e.g., video retrieval, event detection, video categorization, etc.) as well in the near future. This challenge allows to use external data to train and tune parameters of algorithms. Therefore, each submission must explicitly cite the kind of external data used in the submission file.
              </p>
              <br>
              <hr>

              <h3>Task Description</h3>
              <br>
              <p>This year we will focus on video to language task. Given an input video clip, the goal is to automatically generate a complete and natural sentence to describe video content, ideally encapsulating its most informative dynamics.</p>
<p> 
The contestants are asked to develop video to language system based on the MSR-VTT dataset provided by the Challenge (as training data) and any other public/private data to recognize a wide range of object, scene, event, etc., in the images/videos. For the evaluation purpose, a contesting system is asked to produce at least one sentence of the test videos. The accuracy will be evaluated against human pre-generated sentence(s) during evaluation stage.
              </p>
              <br>
              <hr>

              <h3>Important Dates</h3>
              <br>
              <!--p><b>&middot; April 15, 2016:</b> Dataset available for download (training and validation set)</p>
              <p style="text-decoration:line-through;color:gray;"><b>&middot; May 31, 2016:</b> Test set available for download</p>
              <p><b>&middot; June 2, 2016:</b> Test set available for download</p>
              <p><b>&middot; June 12, 2016:</b> Results and one-page notebook paper submission</p>
              <p><b>&middot; June 13 ~ June 25, 2016</b> Objective evaluation and human evaluation</p>
              <p><b>&middot; June 30, 2016</b> Evaluation results announce</p>
              <p><b>&middot; July 6, 2016</b> Paper submission deadline (please follow the instructions on the main conference website)</p-->
              <p><b>&middot; April 18, 2017:</b> Dataset available for download (training and validation set)</p>
              <p><b>&middot; June 1, 2017:</b> Test set available for download</p>
              <p><b>&middot; June 15, 2017:</b> Results and one-page notebook paper submission</p>
              <p><b>&middot; June 16 ~ June 28, 2017</b> Objective evaluation and human evaluation</p>
              <p><b>&middot; July 3, 2017</b> Evaluation results announce</p>
              <p><b>&middot; July 14, 2017</b> Paper submission deadline (please follow the instructions on the main conference website)</p>
 
              <br>
              <hr>

              <h3>Submission File</h3>
              <br>
              <p>To enter the competition, you need to create an account on <a href="#">Evaluation Server</a>. This account allows you to upload your results to the server. Each team is allowed to submit the results of at most three runs and selects one run as the primary run of the submission, which will be measured for performance comparison across teams. Each run must be formatted in a JSON File as</p>
              <pre class="prettyprint lang-py" class=>
{
  "version": "VERSION 1.2",
  "result":[
  {
    "video_id": "video2218",
    "caption": "a panel of people talk about things"
  },
  ...
  {
    "video_id": "video1835",
    "caption": "a person is playing the piano"
  }
  ],
  "external_data":{
    "used": "true", # Boolean flag. True indicates used of external data.
    "details": "First fully-connected layer from VGG-16 pre-trained on ILSVRC-2012 training set" # String with details of your external data.
  }
}

              </pre>
              <p><b>Note: </b>comments in <span class="com">brown</span> are illustrative and help us to provide inline detailed explanations. Please avoid them in your sumisions.</p>
              <p>To help with better understanding the format of the submission text file, a sample submission can be seen <a href="/static/resource/result.zip">here</a>. Participants please strictly follow the submission format.</p>
<br>
<p class="text-danger">All the results should be zipped into a single file named by <b>result.zip</b>. Within the zipped folder, results from different runs should be placed in separate files and one of them should be noticed as primary run in the name (e.g., <b>result1(primary).json</b>, result2.json, result3.json). </p>
              <br>
              <hr>

              <h3>Evaluation Metric</h3>
              <br>
              <p>
              The evaluation provided here can be used to obtain results on the testing set of MSR-VTT. It computes multiple common metrics, including BLEU@4, METEOR, ROUGE-L, and CIDEr-D. </p>
              <p>
In addition, we will carry out the human evaluation of the systems submitted to this challenge on a subset of the testing set. Human were asked to rank the generated sentences of the primary run from each team and a reference sentence from 1 to 5 (lower - better) with respect to the following criteria.
              </p>
              <p style="color:blue">
              &nbsp;&nbsp;&nbsp;&nbsp;<b>&middot; </b>Coherence: judge the logic and readability of the sentence.
              </p>
              <p style="color:blue">
              &nbsp;&nbsp;&nbsp;&nbsp;<b>&middot; </b>Relevance: whether the sentence contains the more relevant and important objects/actions/events in the video clip?
              </p>
              <p style="color:blue">
              &nbsp;&nbsp;&nbsp;&nbsp;<b>&middot; </b>Helpful for blind (additional criteria): how helpful would the sentence be for a blind person to understand what is happening in this video clip?
              </p>
              <br>
              <hr>
              
              <h3>Ranking</h3>
              <br>
              <p>The ranking for the competition this year is based on objective evaluation and human evaluation, respectively. Specifically, a rank list of teams is produced by sorting their scores on each objective evaluation metric, respectively. The final rank of a team is measured by combining its ranking positions in the four ranking list and defined as:</p>
              <p><i>R</i>(team) = <i>R</i>(team)@BLEU@4 + <i>R</i>(team)@METEOR + <i>R</i>(team)@ROUGE-L + <i>R</i>(team)@CIDEr-D.</p>
              <p>where <i>R</i>(team) is the rank position of the team, e.g., if the team achieves the best performance in terms of BLEU@4, then <i>R</i>(team)@BLEU@4 is "1". The smaller the final ranking, the better the performance.</p>
              <p>Similar in spirit, we will linearly fuse the scores of human evaluation on Coherence, Relevance and Helpful for Blind (in a scale of 1-5) for each team. The final score of each team is given by:</p>
              <p><i>S</i>(team) = <i>S</i>(team)@Coherence + <i>S</i>(team)@Relevance + <i>S</i>(team)@Helpful for Blind.</p>
              <p>The larger the score, the better the performance.</p>
              <p>We will finally rank all the participants in two separate lists, one in terms of <i>R</i>(team) and the other <i>S</i>(team).</p>
              <br>
              <hr>

              <h3>Participation</h3>
              <br>
              <p>
              The Challenge is a team-based contest. Each team can have one or more members, and an individual cannot be a member of multiple teams. 
              </p>
              <p>
At the end of the Challenge, all teams will be ranked based on both objective evaluation and human evaluation described above. The top three teams will receive award certificates and/or cash prizes (prize amounts TBD). At the same time, all accepted submissions are qualified for the conference’s grand challenge award competition. 
              </p>
              <br>
              <hr>

              <h3>Citations</h3>
              <br>

              <p>If you are trying to reproduce or compare the baselines conducted on our MSR-VTT dataset, please refer to this <a href=" https://www.microsoft.com/en-us/research/publication/msr-vtt-large-video-description-dataset-bridging-video-language-supplementary-material/">supplementary material</a> and the updated performance reported in this material. However, please cite our <a href="https://www.microsoft.com/en-us/research/publication/msr-vtt-a-large-video-description-dataset-for-bridging-video-and-language/">CVPR paper</a> if you want to use the MSR-VTT as your dataset.</p>
              <p>
              <!--If you intend to publish results that use the data and resources provided by this challenge, please include the following references:-->The references are as follows:
              </p>
              <pre class="prettyprint lang-cv">
@inproceedings{Xu:CVPR16,
title={MSR-VTT: A Large Video Description Dataset for Bridging Video and Language},
author={Jun Xu and Tao Mei and Ting Yao and Yong Rui},
booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
year={2016}}

@inproceedings{Pan:CVPR16,
title={Jointly Modeling Embedding and Translation to Bridge Video and Language},
author={Yingwei Pan and Tao Mei and Ting Yao and Houqiang Li and Yong Rui},
booktitle={Proceedings of the IEEE Conference on Computer Vision and Pattern Recognition (CVPR)},
year={2016}}
              </pre>
                </div>
              </div>
              

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="login" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="login_title"></h4>
          </div>
          <div class="modal-body">
            <form onsubmit="return false;">
              <div class="form-group login-main">
                <label class="control-label" for="login-username">Username</label>
                <input type="text" class="form-control" id="login-username">
              </div>
              <div class="form-group login-main">
                <label class="control-label" for="login-password">Password</label>
                <input type="password" class="form-control" id="login-password">
              </div>
              <div class="login-forget">
                <p>Please provide your team name, the captain's name and mailbox, we will send an password reset email to this mailbox.</p>
              </div>
              <div class="form-group login-forget" style="display: none">
                <label class="control-label" for="login-forget-teamname">Team Name</label>
                <input type="text" class="form-control" id="login-forget-teamname">
              </div>
              <div class="form-group login-forget" style="display: none;">
                <label class="control-label" for="login-forget-caption">Captain's Name</label>
                <input type="text" class="form-control" id="login-forget-caption">
              </div>
              <div class="form-group login-forget" style="display: none;">
                <label class="control-label" for="login-forget-caption-email">Captain's Mailbox</label>
                <input type="email" class="form-control" id="login-forget-caption-email">
              </div>
              <br>
              <a id="login-forget-btn" class="login-main" style="cursor:pointer;">Forget Password?</a>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success login-main" id="login_button">Login</button>
            <button type="button" class="btn btn-success login-forget" id="login-forget-send" style="display: none">Send</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="submit-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <p>Thanks for your participation! The deadline for submitting your results has passed. </p>
            <p>* Evaluation results will be announced before June 30. Please stay tuned! </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="update-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Team Infomation Update</h4>
          </div>
          <div class="modal-body">
            <form onsubmit="return false;">
              <div class="form-group">
                <label class="control-lable" for="update-teamname">Team Name</label>
                <input type="text" class="form-control" id="update-teamname">
              </div>
              <div class="form-group" id="update-caption">
                <label class="control-label">Captain</label>
                <div class="row">
                  <div class="col-md-4">
                    <input type="text" class="form-control" id="update-caption-name" placeholder="name">
                  </div>
                  <div class="col-md-4">
                    <input type="email" class="form-control" id="update-caption-email" placeholder="email">
                  </div>
                  <div class="col-md-4">
                    <input type="email" class="form-control" id="update-caption-organization" placeholder="organization">
                  </div>
                </div>
                <div id="update-member">
                </div>
              </div>
            </form>
            <br>
            <button class="btn btn-primary" id="update-addmember"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Add Member
            </button>
            &nbsp;
            <button class="btn btn-danger" id="update-deletemember"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span>&nbsp;Delete Member
            </button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="update_button">Update</button>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
