<!DOCTYPE html>
<html lang="zh-CN" style="overflow-y: visible;">
  <head>
    <title>Microsoft Multimedia Challenge</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <style type="text/css">
      .jumbotron {
        /*height: 600px;*/
      }
      .introduction {
        font-size: 20px;
      }
    </style>
    <script type="text/javascript">
      $(document).ready(function(){

      });
    </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="/">
          Multimedia
          </a> -->
        </div>
        <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/2017">Home</a></li>
          <li><a href="/2017/people">People</a></li>
          <li><a href="/2017/challenge">Challenge</a></li>
          <li><a href="/2017/leaderboard">Leaderboard</a></li>
          <li><a href="/2017/dataset">Dataset</a></li>
          <li><a href="/2017/contact">Contact</a></li>
        </ul>
</div>
      </div>
    </nav>

    <div class="jumbotron">
      <div class="container">
        <center><h1>Microsoft Multimedia Challenge (2017)</h1></center>
        <br><br><br>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
              <div class="panel-body">
                Recent advances in multimedia computing have opened many avenues for vision-based intelligent services.
                Microsoft Multimedia Challenge aims at demonstrating how these technological advances facilitate a wide range of multimedia analysis scenarios:<br>
                <h5>&middot; Image Retrieval Challenge</h5>
                <h5>&middot; Fine-grained Image Recognition Challenge</h5>
                <a href="/challenge#video"><h5>&middot; Video to Language Challenge</h5></a>
                <h5>&middot; Multimedia Q&amp;A Challenge</h5>
              </div>
            </div>
          </div>

        </div>
        <br>
        <br>
<div class="row"><div class="col-md-8 col-md-offset-2"><div class="text-danger"><b style="font-size:20px">News:</b><br>
<span style="font-size:16px"><b>[07-03-2017]:</b> Leaderboard is released.</span><br>
<span style="font-size:16px"><b>[06-01-2017]:</b> Test video urls are released.</span><br>
<span style="font-size:16px"><b>[04-26-2017]:</b> <a class="text-danger" href="/dataset">We have released the training data.</a></span><br>
<span style="font-size:16px"><b>[04-17-2017]:</b> We are hosting <b><a class="text-danger" href="http://ms-multimedia-challenge.com/2017/challenge">the 2<sup>nd</sup> MSR Video to Language Challenge</a></b>, co-organized with <b><a class="text-danger" href="http://www.acmmm.org/2017/"> ACM Multimedia 2017.</a></b></span><br>
</div></div></div>
      </div>
    </div>

  </body>
</html>
