<!DOCTYPE html>
<html lang="zh-CN" style="overflow-y: visible;">
  <head>
    <title>Microsoft Multimedia Challenge</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		var token="{{token}}";
    		var challenge_type="{{challenge_type}}"

    		$.getJSON("/api/getresetinfo?token={{token}}&challenge_type={{challenge_type}}", function(data,status){
    			if(data.res=="00000") {
    				var username=data.info.username;
    				var teamname=data.info.teamname;
    				var captionname=data.info.captionname;
    				$("#username").val(username);
    				$("#teamname").val(teamname);
    				$("#caption-name").val(captionname);
    			}
    		});

    		$("#reset-btn").click(function(){

    			$(".has-error").find("span").remove();
          $(".has-error").removeClass("has-error");
          var flag = true;

    			var username=$("#username").val();
    			var teamname=$("#teamname").val();
    			var captionname=$("#caption-name").val();
    			var password=$("#password").val();
    			var repeatpassword=$("#password-repeat").val();
    			var password = $("#password").val();

          if(password == "") {
            var parent = $("#password").parent();
            var addhtml = '<span class="help-block">Password can not be empty</span>';
            parent.append(addhtml);
            parent.addClass("has-error");
            flag = false;
          }
          else if(password.length<6){
            var parent = $("#password").parent();
            var addhtml = '<span class="help-block">The length of password should be longer than 6</span>';
            parent.append(addhtml);
            parent.addClass("has-error");
            flag = false;
          }

          if(repeatpassword != password) {
            var parent = $("#password-repeat").parent();
            var addhtml = '<span class="help-block">The two passwords did not match</span>';
            parent.append(addhtml);
            parent.addClass("has-error");
            flag = false;
          }

          if (flag == false)
          	return;
          var para = {
          	"challenge_type":challenge_type,
          	"username":username,
          	"teamname":teamname,
          	"captionname":captionname,
          	"password":password,
          	"token":token
          }
          $.post("/api/reset", para, function(data, status){
          	if(data.res=="00000") {
          		alert("Reset Successfully. Please remember your new password!");
          		window.location = "/challenge"
          	}
          	else {
          		alert("Invalid Token!")
          	}
          });
    		});
    	});
    </script>
  </head>
  <body>
<nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
          </button>
          <!--a class="navbar-brand" href="/">
            ACM Multimedia 2017
          </a-->
        </div>
<div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/2017">Home</a></li>
          <li><a href="/2017/people">People</a></li>
          <li><a href="/2017/challenge">Challenge</a></li>
          <li><a href="/2017/dataset">Dataset</a></li>
          <li><a href="/2017/contact">Contact</a></li>
        </ul>
      </div>
</div>
    </nav>


  	<div class="container">
  		<div class="row">
  			<div class="col-md-6 col-md-offset-3">
  				<div class="panel">
  					<div class="panel-heading">
  						<h4>Microsoft Video Challenge Reset Password</h4>
  					</div>
  					<div class="panel-body">
  						<form onsubmit="return false;">
  							<div class="form-group">
  								<label class="control-label" for="username">User Name</label>
  								<input type="text" class="form-control" id="username" disabled>
  							</div>
  							<div class="form-group">
  								<label class="control-label" for="teamname">Team Name</label>
  								<input type="text" class="form-control" id="teamname" disabled>
  							</div>
  							<div class="form-group">
  								<label class="control-label" for="name">Caption Name</label>
  								<input type="text" class="form-control" id="caption-name" disabled>
  							</div>
  							<div class="form-group">
  								<label class="control-label" for="password">Password</label>
  								<input type="password" class="form-control" id="password">
  							</div>
  							<div class="form-group">
  								<label class="control-label" for="password-repeat">Repeat Password</label>
  								<input type="password" class="form-control" id="password-repeat">
  							</div>
  							<center><button class="btn btn-primary" id="reset-btn">Reset</button></center>
  						</form>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  </body>
</html>
